{% extends 'base.html.twig' %}

{% block title %}List Users{% endblock %}

{% block body %}
  <h1 class="container text-center">Users</h1>
  <table class="table container">

    <tbody>
    <tr>
      <th>Ref</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
    </tr>
    {% for user in users %}
    <tr>
      <td ><a href="{{ path('users_edit',{ 'id': user.id }) }}">{{ user.id }}</a></td>
      <td>{{ user.nom }}</td>
      <td>{{ user.prenom }}</td>
      <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
